version: '3.8'

services:

  web-app:
    build: .            
    ports:
      - "5000:5000"     
    depends_on:
      - mysql-db       

  mysql-db:
    image: mysql:5.7    
    environment:
      MYSQL_ROOT_PASSWORD: password 
      MYSQL_DATABASE: testdb         
    ports:
      - "3306:3306"    
